<li>
    <%= link_to game.name, speedruns_path(game.slug) %>
    <%= link_to " | Game Info", game%>
    <%= link_to " | Categories", runcats_path(game.slug) %>

    <% begin %>
        <% if current_user.admin? %>
            <%= link_to " | New Category", new_game_runcat_path(game.slug) %>
            <%= link_to " | Edit Game", edit_game_path(game.slug) %>
            <%= link_to " | Delete", game_path(game.slug), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
    <% rescue %>
        <% nil %>
    <% end %>
</li>